body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

}
form{
    width: 100%;
    max-width: 440px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    color: #002765;
}
h2{
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0FB0BA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#result {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(45, 233, 170);
}
#error{
    color: red;
}
